html, body 
{
    margin:0;
    padding:0;
}
*
{
    font-family: 'Roboto';
    font-size: 16px;
}
h1
{
    font-family: 'Shrikhand';
    font-weight: 100;
    font-size: 22px;
}
h2
{  
    font-size: 16px;
    font-weight: 900;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
    height: 15px;
    padding-top: 5px;
}
h3
{
    font-family: 'Shrikhand';
    font-weight: 100;
}
h4
{
    font-size: 14px;
    font-weight: 100;
    width: 100%;
}
h5
{
    display: flex;
    
    font-weight: 50;
    font-size: 16px;
}
.titre {

    border-bottom: #99E2D0 2px solid;
    border-width: 2px;
    text-transform: uppercase;
    width: 45px;
    height :30px;
    margin-bottom: 15px;
}
.logo img
{
    width: 40%;
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.New
{
    display: flex;
    position: absolute;
    margin-top: 2%;
    margin-left: 1%;
    width: 65px;
    height: 20px;
    border-radius: 5%;
    font-size: 15px;
    font-weight: 600;
    padding-top: 5px;
    padding-left: 8px;
}
section
{
    display: flex;
    flex-direction: column;
}
.backgroundpalette
{
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
}
.backgroundnote
{
    background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0PX -100px; 
}
.backgroundfrancaise
{
    background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
}.backgrounddelice
{
    background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
}
.Menu-général
{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 30px 30px 0px 0px;
    height: auto;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 56%;
}
.titre-menu
{
    display: flex;
    font-family: 'Shrikhand';
    font-weight: 100;
    font-size: 22px;
    margin-top: 20px ;
}
.heart {
    display: flex;
    height: 50px;
    margin-left: 65%;
}
.fas, .far
{
    height: 50px;
    font-size: 21px;
}
.fas
{
    opacity: 0;
    color:white;
}
.fas:hover
{
    opacity: 1;
    background: linear-gradient(to right, #9356dc,#ff79da);
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:relative;
    animation: fadeIn;
    animation-duration: 2s;
}
.fa-heart
{
    position:absolute;
 }

@keyframes fadeIn {
    from {
        opacity : 0;
      }
      to {
        opacity : 1;
      }
  }
img
{
    width: 100%;
}
.carte
{
    display: flex;
    flex-direction: column;
}
.menu 
{
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    margin-bottom: 20px;
    height: 70px;
    border-radius: 10px 10px 10px 10px;
    line-height:    10px;
    overflow: hidden;
    width: 100%;
}
.entrées
{
    transform : scale(1);
    animation-name: chargement ;
    animation-duration: 5s;
}
@keyframes chargement {
    0% {
    opacity: 0;
    }
    100% {
    opacity:1;
    }
}
.plats
{
    transform : scale(1);
    animation-name: chargement ;
    animation-duration: 7s;
}
@keyframes chargement {
    0% {
    opacity: 0;
    }
    100% {
    opacity:1;
    } 
}  
.desserts
{
    transform : scale(1);
    animation-name: chargement ;
    animation-duration: 9s;
}
@keyframes chargement {
    0% {
    opacity: 0;
    }
    100% {
    opacity:1;
    }
} 
.card-body
{
    width: 97%;
    height: 80px;
    padding-left: 1%;
    font-size: 14px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
}
.prix
{
    display: flex;
    margin-top: 30px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 12px;
}
.check
{
    color: white;
    background-color: #99E2D0;
    justify-content: flex-end;
    align-items: flex-end;
    width: 45px;
    padding-left: 20px;
    padding-top: 25px;
    margin-right:-1000px;
}

.menu:hover .check
{
    transition-duration: 1s;
    transition-timing-function: ease;
    cursor: pointer;
    margin-right: 0;
}
.menu:hover .check i
{
    animation: rotate;
    animation-duration: 2s;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.link,.link:visited
{
    text-decoration: none;
    color: black;
}
.btn
{
    color: white;
    width: 45%;
    height: 40px;
    margin-top: 20px;
    margin-left: 25%;
    margin-bottom: 50px;
    background: linear-gradient( to bottom right, #FF79DA,#9356DC);
    border-radius: 40px;
    box-shadow:  3px 3px 3px 3px #e0e0e0;
    border: white;
    text-align: center;
    font-size: 12px;
}
.btn:hover
{
    opacity: 0.8;
    box-shadow:  3px 3px 3px 3px #acabab;
}

footer
{
    background-color: rgb(48, 46, 46);
    color: white;
    padding-left: 3%;
    padding-top: 5px;
    height: 180px;
    }

ul 
{
    padding: 0;
}

li 
{
    list-style: none;
    padding-bottom: 8px;
    font-family: 'Roboto';
}
.foot {
    list-style: none;
    font-family: 'Roboto';
    font-weight: 300;
}
.foot_link
{
    text-decoration: none;
    color: white;
}
.fa-utensils
{
    padding-right: 5px;
}
.fa-handshake-angle
{
    padding-right: 1px;
}
@media screen and (max-width : 992px) and (min-width: 781px){
.card-body
{
    width: 95%;
}
.check
{
    margin-right:-130px;
}
}
@media screen and (max-width: 780px){
.heart {
    margin-left: 30%;
    margin-top: 5px;
}
.card-body
{
    width: 93%;
    padding-left: 1%;
}
.check
{
    padding-top: 25px;
    padding-left: 15px;
    margin-right:-1000px;
}
.prix
{
    margin-right: 20px;
}
}
