html, body 
{
    margin:0;
    padding:0;
}
body 
{
    max-width: 800px;
}
*
{
    font-family: 'Roboto';
    font-size: 16PX;
}
h1
{
    font-weight:bold;
    font-size: 20px;
}
h2
{
    font-size: 14px;
    font-weight: 300;
}
h3
{
    font-family: 'Shrikhand';
}
header
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.logo
{
    box-shadow: 0px 0px 10px 0px grey;
    width: 100%;
}

.logo img
{
    width: 50%;
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
form
{
    display: flex;
    background-color: #e2e2e2;
}
.fa-location-dot
{
    display: flex;
    margin-left: 30%;
    margin-top: 16px;
}
.fa-solid
{
    display: flex;
    margin-right: 8px;
}
.recherche
{
    width: 80%;
    display: flex;
    height: 50px;
    background-color: #e2e2e2;
    text-align: center;
    border: white;
}
input::placeholder
{
    display: flex;
    font-size: 16px;
font-weight: 900 ;
    color: rgb(77, 77, 77);
}
section
{
    width: 100%;
}
.Présentation
{
    background-color: #F2F2F2;
    width: AUTO;
    height: 250px;
    padding-top: 7%;
    text-align: center;
    PADDING-left: 10%;
    PADDING-right: 10%;
}
.btn
{
    border-radius: 40px;
    box-shadow:  3px 3px 3px 3px #e0e0e0;
    border: white;
    margin-bottom: 20px;
}
.bouton-présentation
{
    color: white;
    width: 80%;
    background: linear-gradient( to bottom right, #FF79DA,#9356DC);
    height: 50px;
    margin-top: 20px;
}
.Fonctionnement
{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
}
.filtre
{
    display: flex;
    border-radius: 40px;
    box-shadow:  3px 3px 3px 3px #e0e0e0;
    border: white;
    margin-bottom: 20px;
    background-color: #F2F2F2;

}
.bouton
{
    color: black;
    width: 50%;
    height: 50px;
    box-shadow: none;
    margin-left: 20%;
}
.Restaurant
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: auto;
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
}
.fa-heart
{
    display: flex;
    padding-top: 8%;
    
}
.fa-heart:hover
{
    font-weight: bold;
    color: linear-gradient(#FF79DA,#9356DC);
}
.carte-Restaurant
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: auto;
    margin-left: 3%;
    margin-right: 3%;
}
.cadre-photo-Restaurant
{
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px 3px #F2F2F2;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    height: 250px;
    width: 100%;
}
.card-image img
{
    display: flex;
    flex-direction: column;
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    height: 180px;
    object-position: bottom;
}

.charonne img
{
    display: flex;
    flex-direction: column;
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    height: 180px;
    object-position: 80% 60%;

}
.card-body
{
    display: flex;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-top: 1%;
    line-height: 0%;
}
.card-text
{
    display: flex;
    flex-direction: column;
    width: 90%;
}
a,a:visited
{
    text-decoration: none;
    color: black;
}

footer
{
    background-color: rgb(36, 35, 35);
    color: white;
    font-family: 'Roboto';
    PADDING-left: 3%;

}
ul
{
    padding: 0;
}
li 
{
    list-style: none;
   
}